// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

/* i2c0 can not be used together with spi0 same as i2c1 with spi1 */

// disable spi0
&spi0 {
    status = "disabled";
};

// disable i2c0
// &i2c0 {
//     status = "disabled";
// };

//disable spi1
// &spi1 {
//     status = "disabled";
// };


// disable i2c1
&i2c1 {
    status = "disabled";
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 27)>,
                    <NRF_PSEL(TWIM_SDA, 0, 28)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 27)>,
                    <NRF_PSEL(TWIM_SDA, 0, 28)>;
            low-power-enable;
        };
    };

    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 19)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 19)>;
            low-power-enable;
        };
    };

};

&i2c0 {
    compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

    ds3231: ds3231@68{
        compatible = "i2c-device";
        reg = < 0x68 >;
        status = "okay";
    };

    m24m02a: m24m02a@50{                                                                            // A17 A16 = 0 0
        compatible = "i2c-device";
        reg = < 0x50 >;
        status = "okay";
    };

    m24m02b: m24m02b@51{                                                                            // A17 A16 = 0 1
        compatible = "i2c-device";
        reg = < 0x51 >;
        status = "okay";
    };

    m24m02c: m24m02c@52{                                                                            // A17 A16 = 1 0
        compatible = "i2c-device";
        reg = < 0x52 >;
        status = "okay";
    };

    m24m02d: m24m02d@53{                                                                            // A17 A16 = 1 1
        compatible = "i2c-device";
        reg = < 0x53 >;
        status = "okay";
    };

    m24m02e: m24m02e@58{
        compatible = "i2c-device";
        reg = < 0x58 >;
        status = "okay";
    };
};

&spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>,                                                         // cs
               <&gpio0 17 GPIO_ACTIVE_LOW>,                                                         // 0: cmd mode, 1: data mode
               <&gpio0 16 GPIO_ACTIVE_HIGH>;                                                        // bl

    st7735: st7735@0 {                                                                              // width: 130, height: 131
        compatible = "bosch,bme280";                                                                // use this as a common spi device
		reg = <0x0>;
        spi-max-frequency = <8000000>;
	};
};

/ {
    leds {
        led0: led_0 {
			gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
		};
    };
};
